@import './vars.scss';

* {
  margin: 0;
  padding: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font: 10px $font-roboto;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color:inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
